@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  /* From https://css.glass */
  background: rgba(251, 102, 0, 0.42);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(251, 102, 0, 0.35);
}
